.main{
   
}
.containerz{
    background-color: white;
    width: 400px;
    height: 400px;
    margin-top: 10%;
    padding-top: 40px;
    border-radius: 1em;
    overflow:scroll; 
    height: 400px;
}
body
{
    font-family: 'Inter', sans-serif;
}
.list{
    width: 700px;
}
button{

    width: 150px;
}
.listname{
    margin:30px 220px 30px 220px;
}

.new{
    margin-left: 160px;
    
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }
h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}